
body {
    margin: 60px auto;
    width: 70%;
    background-color: #D3D3D3;
    font-family: 'Didact Gothic', 'Arial', 'Sans-Serif';

}
nav ul, footer ul {
  font-family: 'Didact Gothic', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Didact Gothic', 'Arial', 'Sans-Serif';
}
h3{
  font-family: 'Didact Gothic', 'Arial', 'Sans-Serif';
  color: #999;
  font-size: 1.1em;
}
h5{
  font-size: 1.3em;
  font-family: 'Didact Gothic', 'Arial', 'Sans-Serif';
  color:  #b30000;
  font-weight: bold;
}
img {
    border-radius: 50%;
    box-shadow: 8px 8px 10px #aaa;
    background-color: #fff;
    padding: 4px;
    width: 19%;
    height: 17%;
}

p {
    font-size: .9em;
    line-height: 1.6em;
    color: #333;
}
footer {
    border-top: 2px solid #b30000;
    font-size: .8em;
    color: #d5d5d5;
    text-align: right;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.1em;
}

ul.posts li {
    list-style: none;
}
.trk{
  height: 2px;
  width: 1px;
  visibility: hidden;
}
